/* * {
	margin: 0;
	padding: 0;
}*/

.cell {
	font-size: 25px;
	text-align: center;
	border: 2px solid red;
	color: white;
	padding: 10px 0;
}

.cell-1 {
	background: #e53d00;
}

.cell-2 {
	background: #ffe900;
}
.cell-3 {
	background: #2a6041;
}
.cell-4 {
	background: #18206c;
}
.cell-5 {
	background: #1b998b;
}
.cell-6 {
	background: #a40e4c;
}

/* STOCK
	
	
	
	(grid-template-areas and grid-areas)
	grid-template-areas: 
				"banner banner banner"
				"sidebar content ads"
				"footer footer footer"
		
		.cell-1 {
			grid-area: banner;
		}
		
		.cell-2 {
			grid-area: sidebar;
		}
		
		.cell-3 {
			grid-area: content;
		}
		
		.cell-4 {
			grid-area: ads;
		}
		
		.cell-5 {
			grid-area: footer;
		}
	
	
	(orders)
	.cell-1 {
		order: 1;
	}
		
	.cell-6 {
		order: -1;
	}
	
	
	
	(shortcuts)
	/--grid-template: 100px 100px / 100px 100px auto;--/
		grid-template-columns: 100px 100px auto;
		grid-template-rows: 100px 100px;
			
	/--grid-gap: 20px 10px;--/
		grid-column-gap: 10px;
		grid-row-gap: 20px;
			
	
	
	(naming the grid lines)
	.container {
			
			display: grid;
			grid-template-columns:[start] 100px[line-2] 100px[line-3] 100px[end];
			grid-template-rows: [start]100px [line-2]100px[end];	
		}
		
		.cell-1 {
			grid-column-start: start;
			grid-column-end: end;
			grid-row-start: start;
			grid-row-end: end;
		}
	
	
	
	(grid-row-end/start-functions)
	.cell-1 {
			grid-row-start: 2;
			grid-row-end: 3;
			grid-column-start: 2;
			grid-column-end: 5;
		}



	(template-columns and rows-auto function)
			min-height: 100vh;
			grid-template-columns: 100px auto 100px;
			grid-template-rows: 200px auto;
		
		
		
	(template and display-grid)
			display: grid;
			grid-template-columns: 100px 200px;
			grid-template-rows: 200px 100px 500px;
				
		
*/
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
